@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    src: url(Gilroy-Light.woff2);
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    src: url(Gilroy-Regular.woff2);
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    src: url(Gilroy-Medium.woff2);
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    src: url(Gilroy-Semibold.woff2);
}
